<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887729535991-f5i2qh17uv68sf7e6d7d7fmcjvso9tvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887729535991-f5i2qh17uv68sf7e6d7d7fmcjvso9tvh</string>
	<key>API_KEY</key>
	<string>AIzaSyAKo81lHTi_HeZpByVtx0KHpsnTifodQ1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>887729535991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.study.firebase.fcm</string>
	<key>PROJECT_ID</key>
	<string>flutter-exam-a2d67</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-exam-a2d67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887729535991:ios:c7841ce31edeeae1384cf2</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-exam-a2d67-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>